.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.90);
    animation: loader 0.01s;
    animation-delay: 1.75s;
    animation-fill-mode: both;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;